* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    Appling display flex to the body
    and margin auto to the memory-game
    will center it
*/

body {
    height: 100vh;
    display: flex;
    background-color: #85DBEB ;
}

button {
    display: block;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.memory-game {
    width: 1200px;
    height: 675px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* Make it 3D */
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 30px);
    height: calc(53.333% - 30px);
    position: relative;
    margin: 15px;    /* The margin functions will make the cards flow outside of the card grid. The can be fixed with the css calc function */
    /* 3D effect */
    transform-style: preserve-3d;
    transition: transform .5s;      /* to see the 3D effect in action */
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;     /* absoulte positioning allows the two card faces to be ontop of each other */
    border-radius: 5px;
    border: 2px solid #4a4a4a;
    /* For the transition below to work, we need a starting place */
    transform: scale(1);
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

/* .memory-card:active {
    transform: scale(97);
    transition: transform .1s;
} */

.memory-card.flip {
    transform: rotateY(180deg);
}